@import '../../_variables.scss';

.Header {
  position: fixed;
  top: 0;
  height: 4rem;
  width: 100%;
  z-index: 10;

  display: grid;
  align-items: center;
  
  background-color: $vanilla;
  color: white;
}

.BottomHeader {
  position: fixed;
  top: 0;
  height: 5rem;
  width: 100%;

  display: grid;
  background-color: $bone;
}

.Header h1 {
  font-size: 2em;
  font-family: "Bungee Inline", "cursive";
}