@import '../../_variables.scss';

.Game {
    display: inline-flex;
}

.game-container {
    margin: 0 auto;
    border: 1px solid black;

}

.controller-container {
    margin: 0 auto;
    flex-direction: column;
}

.detection-container {
    margin: 0 auto;
    vertical-align: middle;
}

.top-layer {
    position: absolute;
    z-index: 2;
    border-radius: 5%;
}

.bottom-layer {
    position: absolute;
    z-index: 1;
    border-radius: "5%";
}