@import '../../_variables.scss';

.Game {
    display: flex;
}

.game-container {
    margin: 0 auto;

}

.controller {
    width: 320px;
}

.controller-container {
    margin: 0 auto;
}

.detection-container {
    position: relative;
}

.top-layer {
    position: absolute;
    z-index: 2;
    border-radius: 5%;
}

.bottom-layer {
    position: absolute;
    z-index: 1;
    border-radius: "5%";
}