// Retro Romeo
$green: #66ABA5;
$bone: #DFD7C0;
$papaya: #FCF3D3;
$terracotta: #E26B5A;
$yellow: #F1B04E;

// Sunset Vintage Hues  
$cyan: #6d9891;
$lauren: #afac9b;
$vanilla: #e1c1a5;
$tangerine: #f69f82;
$copper: #dd826f;
$taupe: #76575d;